body,
html {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header,
    footer {
    background: #e9ecef;
}

.jumbotron {
    margin-bottom:0;
}

footer {
    padding: 0.5rem
}

#chat {
    flex: 1 0 auto;
    height: 0;
    overflow-y: auto;
    padding: 1rem;
}